/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .content {
  padding: 60px 15px 0;
}

.footer > div {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Select2 */
.select2-container--default .select2-selection--single {
  height: calc(2.25rem + 2px);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding-top: 5px;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}
