{% extends 'base.html' %}

{% block content %}
<h1>Revenue</h1>

<table class="table table-bordered table-hover table-sm">
<thead>
<tr>
    <th>Lot</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Aug</th>
    <th>Sep</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
</tr>
</thead>
<tbody>
{% for row in data %}
    <tr>
    {% for item in row %}
        {% if forloop.first %}
            <th class="">{{ item }}</th>
        {% else %}
            <td class="text-right {% if item > 0 %}table-success {% else %}table-danger {% endif %}">{{ item }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

