{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h1>Revenue</h1>

    <div class="container">
    <table class="table table-hover table-sm">
        <tbody>
        {% for type in data %}
            <tr>
                <th>{{ type.name }}</th>
                <th class="text-right">{{ type.amount|intcomma }}</th>
            </tr>
            {% for row in type.data %}
                <tr>
                    <td><a href="{% url 'ledger:account-archive' row.id row.date|date:"Y" row.date|date:"m" %}">{{ row.name }}</a></td>
                    <td class="text-right">{{ row.amount|intcomma }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
